<div>
  <app-gauge-widget-header (selectedViewEvent)="getSelectedView($event)"></app-gauge-widget-header>
  <app-gauge-widget-body (mousedown)="$event.stopPropagation()" [selectedView]="selectedView"></app-gauge-widget-body>
</div>
<app-half-circular-slider></app-half-circular-slider>