.container {
    height: 300px;
    width: 100%;
    background: #e8e9ea; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container--item {
    height: 200px; 
    border: 1px solid #ababac;
    width:130px;
}