<div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="container"
    [cdkDropListData]="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      cdkDrag
      class="container--item"
      *ngFor="let component of list"
    >
      <div *ngComponentOutlet="component"></div>
    </div>
  </div>
</div>
