<div class="header">
    <p>Auslastung</p>
    <mat-icon (click)="showMenuTrigger('')">more_vert</mat-icon>
</div>
<div class="header--menu">
    <div *ngIf="showMenu">
        <button mat-menu-item class="header--menu-btn" (click)="showMenuTrigger('half')">Half mode</button>
        <button mat-menu-item class="header--menu-btn" (click)="showMenuTrigger('full')">Full mode</button>
    </div>
</div>
