.header {
    max-width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding-left: 7px;
    color: rgba(70,112,139,255);
    background: #ffffff;
}

.header--btn {
    border: none;
    background: transparent;
}

.header--menu {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  z-index: 10;
  width: 90px;
  position: absolute;
  margin-left: 40px;
}

.header--menu-btn {
    width: 100px;
    background: transparent;
    border: none;
    padding-top: 0;
}

.header--menu-items {
    top: 20px;
}

.shadow {
    box-shadow: 0 10px 13px -6px black;
    height: 20px;
    width: 100px;
    z-index: -1;
    left: 50px;
}