<div class="circle" [ngStyle]="{ 'width.px': diameter, 'height.px': diameter }" [ngClass]="{'circle-half': this.selectedView == 'half'}">
    <div class="rotation">{{ angle }}bar</div>
    <div class="circle-handle"
      circularSliderHandle
      [diameter]="diameter"
      [(angle)]="angle">
    </div>
</div> 
