.circle {
    border: 2px solid #71c6f2;
    border-radius: 100%;
    position: relative;
    background-color: #e9eff1;
    margin: 0 auto;
  }
  
  .circle-handle {
    position: absolute;
    border-radius: 100%;
    background-color: #71c6f2;
    cursor: -webkit-grab;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .circle-handle:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .rotation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-half {
   background-color: #e9eff1;
   height: 50px;
   width: 130px;
  }
  